doctype html
html
  head
    meta(charset="utf-8")
    title クイズアプリ
    link(rel="stylesheet" href="../css/bootstrap.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.slim.min.js")
    script(src="../js/bootstrap.min.js")
    script(src="/socket.io/socket.io.js")
  body
    h1 クイズアプリ
    form#my_form
      input#msg(type="text")
      button Send!!
    ul#logs
    button.btn.btn-primary.btn-lg(type="button" data-toggle="modal" data-target="#myModal") Launch demo modal

    script.
       $(function() {
          var socket = io.connect()

          $('#my_form').submit(function(e) {
             e.preventDefault()
             socket.emit('emit_from_client', $('#msg').val())
             $('#msg').val('').focus()
          })

          socket.on('emit_from_server', function(data) {
             $('#logs').append($('<li>').text(data))
          })
       })

  include modal
